<script type="ld-conf">
  {
    "name": "article-layout-footer",
    "label": "Article layout footer",
    "iconUrl": "https://livingdocs-assets.s3.amazonaws.com/magazine-design/assets/images/icons-components/icon_layout_footer.svg"
  }
</script>

<nav class="page-foot__wrapper">
  <ul class="footer-links footer-links--left-aligned">
    <li>© 2018 Livingdocs Times</li>
    <li><a href="mailto:contact@livingdocs.io">Contact us</a></li>
    <li><a href="https://www.livingdocs.io/product-5919">Work With us</a></li>
    <li><a href="https://github.com/livingdocsIO/magazine-example">Github</a></li>
  </ul>

  <ul class="footer-links footer-links--right-aligned">
    <li>This is an open-source Demo Magazine built with Livingdocs. Check out the code and make it yours!</li>
  </ul>
</nav>
