<script type="ld-conf">
  {
    "name": "article-layout-header",
    "label": "Article layout header",
    "iconUrl": "https://livingdocs-assets.s3.amazonaws.com/magazine-design/assets/images/icons-components/icon_layout_header.svg"
  }
</script>

<div>
  <div class="logo">
    <a href="/"><img class="logo__desktop" src="/assets/images/li-logo.svg" alt="logo"><img class="logo__handheld" src="/assets/images/li-logo-handheld.svg" alt="logo"></a>
  </div>
  <nav class="meta-nav">
    <div class="meta-nav__item"><a href="https://github.com/livingdocsIO/magazine-example">Source Code</a></div>
    <div class="meta-nav__item meta-nav__item--highlight"><a href="https://www.livingdocs.io/pssst">Subscribe</a></div>
  </nav>
  <div class="nav-container">
    <nav doc-container="header-item" class="main-nav" role="navigation"></nav>
  </div>
  <div class="ad ad--head">
    <a href="https://www.livingdocs.io" target="_blank">
      <img style="max-height: 90px" src="/assets/images/ads/leaderboards/ad-exclusive.gif">
    </a>
  </div>
</div>
