// -----------------------------------------------------------------------------
// AD
// -----------------------------------------------------------------------------

// Styles for the ad component

.ad {
  margin-bottom: $base-spacing-unit;
}

.ad--head {
  margin-bottom: 0;
  margin-left: $base-spacing-unit;
  margin-right: $base-spacing-unit;
  padding-bottom: halve($base-spacing-unit);

  text-align: center;
  border-bottom: 1px solid $divider-color;

  @media (max-width: $mq-small) {
    margin-left: halve($base-spacing-unit);
    margin-right: halve($base-spacing-unit);
  }
}

.ad--sidebar {
  margin-bottom: double($base-spacing-unit);
}

.ad--leaderboard {
  text-align: center;
}
