// -----------------------------------------------------------------------------
// ARTICLE
// -----------------------------------------------------------------------------

// Styles for the following components:
// -> source/components/containers/article-container.html

.article-content {
  padding-left: calc(8.33% + #{$base-spacing-unit});
  padding-right: calc(8.33% + #{$base-spacing-unit});
}

.article-content__header {
  width: 80%;
}

.article-content__body {
  display: flex;
  flex-wrap: nowrap;
}

.article-content__main {
  flex: 1;
  width: 100%;
  padding-right: double($base-spacing-unit);
}

.article-content__sidebar {
  flex: 0 0 300px;
  width: 300px;
}

.article-content__footer {
  position: relative;
  padding-top: $base-spacing-unit;

  &::before {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;

    height: 1px;

    background-color: $divider-color;

    content: " ";
  }
}


// Media Queries
@media (max-width: 1060px) {
  .article-content {
    padding-left: double($base-spacing-unit);
    padding-right: double($base-spacing-unit);
  }

  .article-content__header {
    width: 100%;
  }
}

@media (max-width: 980px) {
  .article-content__main {
    padding-right: $base-spacing-unit;
  }
}

@media (max-width: 930px) {
  .article-content {
    padding-left: 15%;
    padding-right: 15%;
  }

  .article-content__main {
    padding-right: 0;
  }

  .article-content__sidebar {
    display: none;
  }
}

@media (max-width: 760px) {
  .article-content {
    padding-left: 12%;
    padding-right: 12%;
  }
}

@media (max-width: 560px) {
  .article-content {
    padding-left: halve($base-spacing-unit);
    padding-right: halve($base-spacing-unit);
  }
}
