<script type="ld-conf">
{
  "name": "author-head",
  "label": "Author Head",
  "description": "Header for author pages",
  "iconUrl": "https://livingdocs-assets.s3.amazonaws.com/magazine-design/assets/images/icons-components/icon_header_simple.svg"
}
</script>

<div class="author-card author-card--big">
  <div class="author-card__image">
    <img doc-image="image"/>
  </div>
  <div class="author-card__body">
    <h2 class="author-card__title" doc-editable="name">Author name</h2>
    <p doc-editable="biography">Biography</p>
  </div>
</div>
