<script type="ld-conf">
  {
    "label": "Title and Lead",
    "allowedParents": ["article-container"],
    "description": "Header and author line",
    "iconUrl": "https://livingdocs-assets.s3.amazonaws.com/magazine-design/assets/images/icons-components/icon_header_full.svg"
  }
</script>

<div class="head">
  <span class="head__flag" doc-editable="flag" doc-optional="true">Flag</span>
  <h1 class="head__title" doc-editable="title">Title</h1>
  <p class="head__lead" doc-editable="text">Lead</p>
  <div class="head__meta">
    <span doc-editable="author">Author</span><span>,</span>
    <span doc-editable="date">Date</span>
  </div>
</div>
