<script type="ld-conf">
{
  "name": "free-html",
  "label": "Free HTML",
  "description": "Only for developers",
  "allowedParents": [
    "article-container",
    "author-container",
    "gallery-container",
    "video-container",
    "halves-uneven",
    "halves-article-footer",
    "halves",
    "quarter",
    "thirds",
    "whole"
  ],
  "iconUrl": "https://livingdocs-assets.s3.amazonaws.com/magazine-design/assets/images/icons-components/icon_embed.svg"
}
</script>

<div doc-html="free-html" class="placeholder--free-html">
  <div class="placeholder__img"></div>
</div>
