<script type="ld-conf">
{
  "name": "iframe",
  "label": "Iframe",
  "allowedParents": [
    "whole",
    "halves",
    "thirds",
    "quarter",
    "halves-uneven",
    "video-container",
    "author-container",
    "article-container",
    "gallery-container",
    "teaser-video-template",
    "halves-article-footer",
    "teaser-video-hero-template"
  ],
  "description": "Embed anything an iframe can do",
  "iconUrl": "https://livingdocs-assets.s3.amazonaws.com/magazine-design/assets/images/icons-components/icon_embed.svg",
  "properties": ["position"]
}
</script>

<div doc-html="iframe" class="placeholder--free-html">
  <div class="placeholder__img"></div>
</div>
