<script type="ld-conf">
  {
    "name": "teaser-sidebar-template",
    "label": "Teaser Sidebar Template"
  }
</script>

<div class="teaser-card teaser-card--sidebar">
  <span class="teaser-card__flag" doc-editable="flag" doc-optional="true"></span>
  <h2 class="teaser-card__title"><a href="" doc-link="link" doc-editable="title"></a></h2>
  <ul class="teaser-card__byline">
    <li>by <a href="" doc-link="authorLink" doc-editable="author"></a></li>
    <li doc-editable="date"></li>
  </ul>
</div>
