<script type="ld-conf">
{
  "label": "Tweet",
  "description": "Embed a tweet",
  "allowedParents": [
    "article-container",
    "author-container",
    "gallery-container",
    "video-container",
    "halves-uneven",
    "halves-article-footer",
    "halves",
    "quarter",
    "thirds",
    "whole"
  ],
  "iconUrl": "https://livingdocs-assets.s3.amazonaws.com/magazine-design/assets/images/icons-components/icon_twitter.svg"
}
</script>

<div doc-html="tweet" class="placeholder--twitter">
  <div class="placeholder__img"></div>
</div>
