<script type="ld-conf">
  {
    "name": "teaser-card-template",
    "label": "Teaser Card"
  }
</script>

<div class="teaser-card">
  <figure class="teaser-card__figure">
    <a href="" doc-link="link">
      <img class="teaser-card__image" doc-image="image">
    </a>
  </figure>
  <div class="teaser-card__body">
    <span class="teaser-card__flag" doc-editable="flag" doc-optional="true"></span>
    <h2 class="teaser-card__title"><a href="" doc-link="link2" doc-editable="title"></a></h2>
    <p class="teaser-card__text" doc-editable="text"></p>
    <ul class="teaser-card__byline">
      <li>by <a doc-link="authorLink" doc-editable="author"></a></li>
      <li doc-editable="date"></li>
    </ul>
  </div>
</div>
