<script type="ld-conf">
  {
    "name": "teaser-hero-template",
    "label": "Teaser Hero"
  }
</script>

<div class="teaser-hero">
  <a href="" doc-link="link">
    <div class="teaser-hero__header" doc-image="image">
      <div class="teaser-hero__header-text">
        <span class="teaser-hero__flag" doc-editable="flag" doc-optional="true"></span>
        <h2 class="teaser-hero__title" doc-editable="title"></h2>
      </div>
    </div>
  </a>
  <p class="teaser-hero__text" doc-editable="text"></p>
  <ul class="teaser-hero__byline">
    <li>by <a doc-link="authorLink" doc-editable="author"></a></li>
    <li doc-editable="date"></li>
  </ul>
</div>
