<script type="ld-conf">
  {
    "name": "teaser-card-author-template",
    "label": "Author Card Template"
  }
</script>

<div class="teaser-card teaser-card--author">
  <figure class="teaser-card__figure">
    <a doc-link="authorLink">
      <img class="teaser-card__image" doc-image="image">
    </a>
  </figure>
  <div class="teaser-card__body">
    <span class="teaser-card__flag teaser-card__flag--black" doc-editable="title"></span>
    <h2 class="teaser-card__title">
      <a href="" doc-link="link" doc-editable="text"></a>
    </h2>
  </div>
</div>
