<script type="ld-conf">
  {
    "name": "teaser-hero-resolved",
    "label": "Teaser Hero"
  }
</script>

<div class="teaser-hero">
  <a href="">
    <div class="teaser-hero__header" style="background-image: url('https://livingdocs.imgix.net/2016/10/28/f29a0498-620e-43a6-90d5-e0e8f7bd5e35.jpeg?rect=728,132,1638,922')">
      <div class="teaser-hero__header-text">
        <span class="teaser-hero__flag">Culture</span>
        <h2 class="teaser-hero__title">The delicate art of the TV series finale</h2>
      </div>
    </div>
  </a>
  <p class="teaser-hero__text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
  <ul class="teaser-hero__byline">
    <li>by <a href="">Kelly Swanson</a></li>
    <li>15 minutes ago</li>
  </ul>
</div>
