<script type="ld-conf">
  {
    "name": "teaser-card-resolved",
    "label": "Teaser Card"
  }
</script>

<div class="teaser-card">
  <figure class="teaser-card__figure">
    <a href="">
      <img class="teaser-card__image" src="https://livingdocs.imgix.net/2016/10/28/1456273f-b26a-4ca1-9de7-cebd2eb41dd9.jpeg?rect=0,86.5,1200,675">
    </a>
  </figure>
  <div class="teaser-card__body">
    <span class="teaser-card__flag">Culture</span>
    <h2 class="teaser-card__title"><a href="">The art of TV series</a></h2>
    <p class="teaser-card__text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.</p>
    <ul class="teaser-card__byline">
      <li>by <a href="">Kelly Swanson</a></li>
      <li>15 minutes ago</li>
    </ul>
  </div>
</div>
