<script type="ld-conf">
  {
    "name": "teaser-card-author-resolved",
    "label": "Author Card Resolved"
  }
</script>

<div class="teaser-card teaser-card--author">
  <figure class="teaser-card__figure">
    <a href="">
      <img class="teaser-card__image" src="assets/images/author-john.png">
    </a>
  </figure>
  <div class="teaser-card__body">
    <span class="teaser-card__flag teaser-card__flag--black">John Cassidy</span>
    <h2 class="teaser-card__title"><a href="">The Family That Built an Empire of Pain</a></h2>
  </div>
</div>
