<script type="ld-conf">
  {
    "label": "Image Gallery Hero Teaser Resolved"
  }
</script>

<div class="teaser-gallery">
  <div class="teaser-hero teaser-hero--video">
    <div class="teaser-hero__header" style="background-image: url('https://livingdocs.imgix.net/2016/10/28/f29a0498-620e-43a6-90d5-e0e8f7bd5e35.jpeg?rect=728,132,1638,922')">
      <div class="teaser-hero__header-text">
        <h2 class="teaser-hero__title">The delicate art of the TV series finale</h2>
        <span class="teaser-hero__label">
          <svg class="teaser-hero__icon teaser-hero__icon--photo" viewBox="0 0 24 24">
            <path fill="#000000" d="M4,4H7L9,2H15L17,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z" />
          </svg>
          Photos
        </span>
      </div>
    </div>
    <p class="teaser-hero__text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
  </div>
  <div class="teaser-gallery__images">
    <figure class="image">
      <img class="resrc" src="https://livingdocs.imgix.net/2016/10/28/26303a92-2cf7-425e-b5b3-15d5b54c5564.jpeg?rect=256,66,1075,605">
      <figcaption class="image__caption">The Tale of the Princess Kaguya</figcaption>
    </figure>
    <figure class="image">
      <img class="resrc" src="https://livingdocs.imgix.net/2016/10/28/1456273f-b26a-4ca1-9de7-cebd2eb41dd9.jpeg?rect=0,86.5,1200,675">
      <figcaption class="image__caption">The Whale Hunt</figcaption>
    </figure>
    <figure class="image">
      <img class="resrc" src="https://livingdocs.imgix.net/2016/10/28/67fbd400-4961-4d2f-8846-221a1351f415.png?rect=0,64.125,1500,843.75">
      <figcaption class="image__caption">The Night of Taneyamagahara</figcaption>
    </figure>
  </div>
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
           It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
      <!-- Container that holds slides.
              PhotoSwipe keeps only 3 of them in the DOM to save memory.
              Don't modify these 3 pswp__item elements, data is added later on. -->
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <!--  Controls are self-explanatory. Order can be changed. -->
          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
          <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
          <!-- element will get class pswp__preloader--active when preloader is running -->
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>
        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
        </button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
        </button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>
</div>
