<script type="ld-conf">
  {
    "name": "teaser-card-no-image-resolved",
    "label": "Teaser Card without image"
  }
</script>

<div class="teaser-card">
  <div class="teaser-card__body">
    <span class="teaser-card__flag">Culture</span>

    <h2 class="teaser-card__title"><a href="">A Normal and Human Night of Dance</a></h2>

    <p class="teaser-card__text">At Simone Dinnerstein and Pam Tanowitz’s “New Work for Goldberg Variations,” the audience seemed very sorry to see the show end.</p>

    <ul class="teaser-card__byline">
      <li>by <a href="">Kelly Swanson</a></li>
      <li>15 minutes ago</li>
    </ul>
  </div>
</div>
