<script type="ld-conf">
  {
    "name": "teaser-card-numbered-resolved",
    "label": "Numbered Teaser Card Resolved"
  }
</script>

<div class="teaser-card teaser-card--numbered">
  <span class="teaser-card__number">.</span>

  <div class="teaser-card__body">
    <span class="teaser-card__flag">John Cassidy</span>

    <h2 class="teaser-card__title"><a href="">The Family That Built an Empire of Pain</a></h2>

    <ul class="teaser-card__byline">
      <li>by <a href="">Kelly Swanson</a></li>
      <li>15 minutes ago</li>
    </ul>
  </div>
</div>
