// ------------------------------------
// COLORS
// ------------------------------------

$black:         #000;
$white:         #fff;
$lavender:      #bb6bd9;
$royal-blue:    #2f80ed;
$jungle-green:  #27ae60;

// Semantic colors
$text-color:         rgba($black, .87);
$secondary-color:    rgba($black, .54);
$icon-color:         rgba($black, .65);
$hint-text-color:    rgba($black, .26);
$divider-color:      rgba($black, .18);

$flag-color:         $lavender;
$label-color:        $lavender;
$link-color:         $royal-blue;
