<script type="ld-conf">
  {
    "name": "author-container",
    "label": "Author Container",
    "description": "Main container for authors",
    "iconUrl": "https://livingdocs-assets.s3.amazonaws.com/magazine-design/assets/images/icons-components/icon_2_columns_uneven.svg"
  }
</script>

<article class="article-content">
  <div class="article-content__body">
    <main class="article-content__main" doc-container="main"></main>
    <aside class="article-content__sidebar" doc-container="sidebar"></aside>
  </div>
</article>
