<script type="ld-conf">
{
  "name": "halves-article-footer",
  "label": "2 Columns",
  "description": "50:50 columns",
  "allowedParents": [
    "article-container"
  ],
  "iconUrl": "https://livingdocs-assets.s3.amazonaws.com/magazine-design/assets/images/icons-components/icon_2_columns.svg",
  "properties": ["container-style-lined"],
  "directives": {
    "column-one": {
      "allowedChildren": [
        "teaser-card"
      ],
      "defaultComponents": {
        "paragraph": "paragraph",
        "image": "image",
        "html": "free-html"
      }
    },
    "column-two": {
      "allowedChildren": [
        "teaser-card"
      ],
      "defaultComponents": {
        "paragraph": "paragraph",
        "image": "image",
        "html": "free-html"
      }
    }
  }
}
</script>

<div class="container container--halves">
  <h2 class="container__title" doc-editable="title" doc-optional="true"></h2>
  <div class="container-grid">
    <div class="container-grid__item" doc-container="column-one"></div>
    <div class="container-grid__item" doc-container="column-two"></div>
  </div>
</div>
