<script type="ld-conf">
{
  "label": "Quote",
  "properties": ["large"],
  "allowedParents": ["article-container"],
  "description": "Large text in quotes",
  "iconUrl": "https://livingdocs-assets.s3.amazonaws.com/magazine-design/assets/images/icons-components/icon_quote.svg"
}
</script>

<blockquote class="quote">
  <span class="quote__mark">“</span>
  <p class="quote__text" doc-editable="text">Quoted text</p>
  <footer class="quote__source">— <span doc-editable="author" doc-optional="true">Author</span></footer>
</blockquote>
